:root{
    --primary-color: black;
}
body { margin: 0; 
    padding: 0; 
    
}

#map { position: absolute; 
    top: 0; 
    bottom: 0; 
    height: 100%;
    width: 100%; }

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    }
#intro{
    position: relative;
    background-color:midnightblue;
    height: 90%;
    width:90%;
    overflow: hidden;
    transition: 0.5s;
    display:block;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.showHide{
    position: absolute;
    top: 10px;
    right: 7px;
}

.showHideB{
    position: absolute;
    width:400px;
    height: 80px;
    bottom:10px;    
}

.sideBar{
    position:fixed;
    background-color: var(--primary-color);
    color: white;
    width:600px;
    height:90%;

    border-right: 1px solid #c2c2c2;
    padding: 0 10px;
    top:5%;
    left:0;

    overflow:hidden;
    transition: 0.5s;
}

#animalName{
    background-color: var(--primary-color);
    position: absolute;
    bottom: 100px;
    right: 100px;
    width:40%; 
    height:100px;
    color:aliceblue;
    display: none;

    transition: 5s;
    overflow:hidden;
}

.menuAnimals{
    position: absolute;
    background-color: var(--primary-color);
    width:300px;
    height: 550px;

    top: 10%;
    left: 5%;

    color: aliceblue;
}
 
