body { margin: 0; 
    padding: 0; 
    
}

#map { position: absolute; 
    top: 0; 
    bottom: 0; 
    height: 100%;
    width: 100%; }

#btn-menu{
    position: absolute;
}

aside{
    position: absolute;
    background-color: black;
    width: 40%;
    height: 90%;
    left: 0;
    top: 5%;
    color:white;
    transition: all 500ms ease;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;

}

#btn-menu:checked ~ aside{
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
}

.triggerindex{
    position: absolute;
    height:80px;
    width:30px;
    top:40px;
    right: -30px;
    background-color:grey;
    visibility: visible;
}
.trigg{
    width: 100%;
    height: 100%;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    }