/*------------------------------------------------------------------
[Master Stylesheet]
Project:         OCEX | HACK THE OCEAN | HACKATON 
Author:          Equipo Launch X
Website:         link
First Color:     #051426;
Second Color:    #047C99;
Third Color:     #ddb01c;
Fourth Color:    #b8f7ff; 
text Color:     #051426;        
Version:         1.0
main-font:       'Dosis', sans-serif;
Headers:         
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]
A. GLOBAL
    1. GOOGLE FONTS
    2. ROOT
B. HTML ELEMENTS STYLING
C. SECTIONS (CUSTOM CLASSES & IDs)
D. RESPONSIVE
-------------------------------------------------------------------*/


/*=============================================
=         START SECTION | A. GLOBAL           =
=============================================*/

/*----------  START SUBSECTION | ROOT  ----------*/
/*-- GOOGLE FONTS --*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

/*-- VARIABLES CSS --*/
:root {
    /*-- /Font Family --*/
    --font_family-body: font-family: 'Dosis', sans-serif;
    ;
    --font_family-title: ;

    /*-- /Font Sizes --*/
    --font_size-h1     : 1.5em;
    --font_size-h2     : 1.35em;
    --font_size-h3     : 1.2em;
    --font_size-biggest: 2em;
    --font_size-big    : 1.5em;
    --font_size-normal : 1em;
    --font_size-small  : .813em;
    --font_size-smaller: .75em;

    /*-- /Font Weight/ --*/
    --font_weight-bolder  : 900;
    --font_weight-semibold: 600;
    --font_weight-medium  : 500;

    /*-- /Colors/ --*/
    --color_first : #051426;
    --color_second: #047C99;
    --color_third : #ddb01c;
    --color_fourth: #b8f7ff;
    --color_text  : #051426;

    /*-- /Background Colors/ --*/
    --color_body     : ;
    --color_container: ;

    /*-- /Margins/ --*/
    --mrl_1_5: 1.5rem;
    --mb_2_5 : 2.5rem;
    --mb_2   : 2rem;
    --mb_1_5 : 1.5rem;
    --mb_1   : 1rem;
    --mb_0-75: .75rem;
    --mb_0-25: .25rem;
    --mb_0-5 : .5rem;

    /*-- /Z-Index/ --*/
    --z-behind : -10;
    --z-tooltip: 10;
    --z-fixed  : 100;
}

/*-- RESPONSIVE TIPOGRAPHY --*/
@media screen and (min-width: 992px) {
    :root {
        --font_size-h1     : 2.25em;
        --font_size-h2     : 1.5em;
        --font_size-h3     : 1.25em;
        --font_size-biggest: 4em;
        --font_size-big    : 2.5em;
        --font_size-normal : 1em;
        --font_size-small  : .875em;
        --font_size-smaller: .813em;
    }
}

/*----------  START SUBSECTION | GLOBAL STYLES   ----------*/
body {
    margin     : 0;
    padding    : 0;
    font-family: var(--font_family-body);
}

a,
a:hover,
a:visited {
    color: #0071bc;
}

p,
h1,
h2,
h3,
h4 {
    color: var(--color_text);
}


#map { position: absolute; 
    top: 0; 
    bottom: 0; 
    height: 100%;
    width: 100%; }

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    }
#intro{
    position: relative;
    background-color:var(--color_second);
    height: 90%;
    width:90%;
    overflow: hidden;
    transition: 0.5s;
    display:block;

    border-top-right-radius: 100px;
    border-bottom-right-radius: 30px;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.container img{
    width:200px;  
}
.texto-info{
    width:90%;
    margin-top: 15px;
}


.showHide{
    position: absolute;
    top: 10px;
    right: 2px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.showHide img{
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.showHideB{
    position: absolute;
    width:400px;
    height: 80px;
    bottom:10px;  
    
    background-color: var(--color_fourth);
    border-radius: 20px;
    border-color: rgba(00, 00, 00, 0.0);

    font-size: var(--font_size-big);
}

.sideBar{
    position:fixed;
    background-color: var(--color_first);
    
    width:600px;
    height:90%;

    border-right: 3px solid rgba(9, 202, 255, 0.3);
    padding: 0 10px;
    top:5%;
    left:0;

    overflow:hidden;
    transition: 0.5s;
}

#animalName{
    background-color: var(--primary-color);
    position: absolute;
    bottom: 100px;
    right: 100px;
    width:40%; 
    height:100px;
    color:aliceblue;
    display: none;

    transition: 5s;
    overflow:hidden;
}

.menuAnimals{
    position: fixed;
    background-color: var(--primary-color);
    width:300px;
    height: 550px;

    top: 10%;
    left: 5%;

    color: aliceblue;

    overflow:hidden;
    transition: 0.5s;
    display:none;
}

#listOfAnimalNames{
    position: relative;
    background-color:midnightblue;
    height: 90%;
    width:90%;
    overflow: hidden;
    transition: 0.5s;
    display:block;
}

.listButton{
    width:20px;
    height:20px;

    position: absolute;

    top: 0px;
    right: 0px;
}
 
