/*------------------------------------------------------------------
[Master Stylesheet]
Project:         OCEX | HACK THE OCEAN | HACKATON 
Author:          Equipo Launch X
Website:         link
First Color:     #051426;
Second Color:    #047C99;
Third Color:     #ddb01c;
Fourth Color:    #b8f7ff; 
text Color:     #051426;        
Version:         1.0
main-font:       'Dosis', sans-serif;
Headers:         
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]
A. GLOBAL
    1. GOOGLE FONTS
    2. ROOT
B. HTML ELEMENTS STYLING
C. SECTIONS (CUSTOM CLASSES & IDs)
D. RESPONSIVE
-------------------------------------------------------------------*/


/*=============================================
=         START SECTION | A. GLOBAL           =
=============================================*/

/*----------  START SUBSECTION | ROOT  ----------*/
/*-- GOOGLE FONTS --*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;800&display=swap');

/*-- VARIABLES CSS --*/
:root {
    /*-- /Font Family --*/
    --font_family-body: 'Dosis', sans-serif !important;
    ;
    --font_family-title: ;

    /*-- /Font Sizes --*/
    --font_size-h1     : 1.5em;
    --font_size-h2     : 1.35em;
    --font_size-h3     : 1.2em;
    --font_size-biggest: 2em;
    --font_size-big    : 1.5em;
    --font_size-normal : 1em;
    --font_size-small  : .813em;
    --font_size-smaller: .75em;

    /*-- /Font Weight/ --*/
    --font_weight-bolder  : 900;
    --font_weight-semibold: 600;
    --font_weight-medium  : 500;

    /*-- /Colors/ --*/
    --color_first : #051426;
    --color_second: #047C99;
    --color_third : #ddb01c;
    --color_fourth: #b8f7ff;
    --color_text  : #051426;
    --color_shadow: #05142636;

    /*-- /Background Colors/ --*/
    --color_body     : ;
    --color_container: ;

    /*-- /Margins/ --*/
    --mrl_1_5: 1.5rem;
    --mb_2_5 : 2.5rem;
    --mb_2   : 2rem;
    --mb_1_5 : 1.5rem;
    --mb_1   : 1rem;
    --mb_0-75: .75rem;
    --mb_0-25: .25rem;
    --mb_0-5 : .5rem;

    /*-- /Z-Index/ --*/
    --z-behind : -10;
    --z-tooltip: 10;
    --z-fixed  : 100;
}

/*-- RESPONSIVE TIPOGRAPHY --*/
@media screen and (min-width: 992px) {
    :root {
        --font_size-h1     : 2.25em;
        --font_size-h2     : 1.5em;
        --font_size-h3     : 1.25em;
        --font_size-biggest: 4em;
        --font_size-big    : 2.5em;
        --font_size-normal : 1em;
        --font_size-small  : .875em;
        --font_size-smaller: .813em;
    }
}

/*----------  START SUBSECTION | GLOBAL STYLES   ----------*/
body {
    margin     : 0;
    padding    : 0;
    font-family: var(--font_family-body) !important;
}

a,
a:hover,
a:visited {
    color: #0071bc;
}

p,
h1,
h2,
h3,
h4 {
    color: var(--color_text);
}

button {
    cursor    : pointer;
    transition: .3s ease-in-out;
}

/*============ FOOTER SECTION |  A. Global  =========*/


/*=============================================
=  START SECTION | B. HTML ELEMENTS STYLING   =
=============================================*/

/*----------  START SUBSECTION | REUSABLE CSS CLASSES & IDs   ----------*/

#map {
    position: absolute;
    top     : 0;
    bottom  : 0;
    height  : 100%;
    width   : 100%;
}

.marker {
    display      : block;
    border       : none;
    border-radius: 50%;
    cursor       : pointer;
    padding      : 0;

    animation-name           : fading;
    animation-duration       : 2.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-delay          : 0s;
}

@keyframes fading {
    0% {
        border: 0px solid rgba(00, 00, 00, 0.0)
    }

    50% {
        border: 8px solid var(--color_first);
    }

    100% {
        border: 0px solid rgba(00, 00, 00, 0.0)
    }
}

.container {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.container img {
    width: 200px;
}

.showHide {
    position     : absolute;
    top          : 10px;
    right        : 4px;
    width        : 45px;
    height       : 45px;
    border-radius: 50%;
}

.showHide img {
    height    : 100%;
    position  : absolute;
    top       : 0px;
    left      : 0px;
    transition: .3s ease-in-out;
}

.showHide img:hover {
    transform: scale(.8);
}

.sideBar {
    position        : fixed;
    top             : 5%;
    left            : 0;
    border          : 1px solid var(--color_second);
    border-radius   : 0 20px 20px 0;
    background-color: #FFF;
    width           : 600px;
    height          : 90%;
    overflow        : hidden;
    transition      : 0.5s;
}

#intro {
    display                      : block;
    position                     : relative;
    height                       : 93%;
    width                        : 90%;
    box-shadow                   : 8px 8px 16px var(--color_shadow);
    background-color             : var(--color_second);
    /* border-top-right-radius   : 10px; */
    border-bottom-right-radius   : 20px;
    visibility                   : visible;
    transition                   : 0.5s;
    overflow                     : hidden;
}

.sidebar__img {
    width  : 30% !important;
    padding: 2rem 0 2rem 0;
}

.texto-info {
    width    : 90%;
    font-size: 1.1em;
}

.texto-info p {
    margin     : 0 2rem;
    color      : #FFF !important;
    font-weight: var(--font_weight-medium);

}

.showHideB {
    position        : absolute;
    bottom          : 10px;
    margin-bottom   : 2rem;
    border-radius   : 10px;
    border-color    : rgba(00, 00, 00, 0.0);
    border          : 1px solid transparent;
    padding         : 1rem 5rem;
    box-shadow      : 0px 0px 16px var(--color_shadow);
    background-color: var(--color_fourth);
    font-family     : var(--font_family-body);
    letter-spacing  : 0.2em;
    font-size       : var(--font_size-h3);
    font-weight     : var(--font_weight-bolder);
    text-transform  : uppercase;
    transition      : .3s ease-in-out;
}

.showHideB:hover {
    background: transparent;
    border    : 1px solid #FFF;
    color     : #FFF;
}

.showHideB i {
    font-style: normal !important;
}

#animalName {
    background-color: var(--color_first);
    position        : absolute;
    bottom          : 100px;
    right           : 100px;
    width           : 40%;
    height          : 100px;
    display         : none;
    transition      : 5s;
    overflow        : hidden;
    border-radius   : 25px 25px 80px 25px;
    padding-left    : 40px;
    padding-top     : 0px;
}

.menuAnimals {
    display         : none;
    position        : fixed;
    top             : 13%;
    left            : 5%;
    border          : 1px solid var(--color_second) !important;
    border-radius   : 20px;
    background-color: #FFF;
    width           : 300px;
    height          : 550px;
    color           : var(--color_fourth);
    overflow        : hidden;
    transition      : 0.5s;
}

#listOfAnimalNames {
    display        : flex !important;
    flex-direction : column;
    justify-content: center;
    position       : relative;
    height         : 90%;
    width          : 90%;
    overflow       : hidden;
    transition     : 0.5s;
}

#listOfAnimalNames li {
    list-style-type: none;
    color          : var(--color_text);
    padding-left   : 0rem;
    padding-bottom : 0.3rem;
    transition     : .2s ease-in-out;
}

#listOfAnimalNames a {
    padding-left   : 0.5rem;
    text-decoration: none;
    font-size      : var(--font_size-h2);
    font-family    : var(--font_family-title);
    color          : var(--color_text);
    transition     : .2s ease-in-out;
}

#listOfAnimalNames li:hover {
    color: var(--color_second);
}

#listOfAnimalNames a:hover {
    color: var(--color_third);
}

#animalText h1 {
    color        : var(--color_second);
    margin-top   : 5px;
    margin-bottom: 5px;
    font-family  : var(--font_family-body);
}

#animalText p {
    color      : var(--color_fourth);
    font-family: var(--font_family-body);
    font-size  : var(--font_size-h3);
    margin-top : 0px;
    ;
}

#animalText a {
    text-decoration   : none;
    /* color          : var(--color_second) */
}

.listButton {
    top             : 0px;
    position        : absolute;
    right           : 0px;
    width           : 45px;
    height          : 45px;
    border          : 1px solid #fff;
    border-radius   : 0 18px 0 18px;
    box-shadow      : -3px -3px 16px var(--color_shadow);
    background-color: transparent;
    transition      : .3s ease-in-out;
}

.listButton:hover {
    border    : 1px solid #FFF;
    background: var(--color_second);
}

.listButton i {
    width     : 100%;
    font-size : 1.4rem;
    color     : var(--color_first);
    transition: .3s ease-in-out;
}

.listButton:hover i {
    color: #FFF;
}